@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.logo {
  max-width: 100px;
}
.logo img {
  width: 100%;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
.header {
  min-height: 124px;
  padding: 44px 0;
}
.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.btn {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 2px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}
.btn-primary {
  color: #fafafa;
  background-color: #1890ff;
  border: 1px solid #1890ff;
}
.btn-outline {
  color: #595959;
  background-color: #fff;
  border: 1px solid #d9d9d9;
} 
.main {
  flex: 1 1 auto;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}
.banner {
  margin: 0 0 56px 0;
}
.banner-item {
  background: url(../img/banners/banner.jpg) center right / cover no-repeat;
  padding: 68px;
  border-radius: 10px;
}
.banner-item--title {
  font-weight: 700;
  font-size: 39px; 
  color: #302c34;
  max-width: 50%;
  margin: 0 0 15px 0;
}
.banner-item--subtitle {
  font-size: 24px;
  color: #302c34;
  max-width: 50%;
}
.products {
  margin: 0 0 100px 0;
}
.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 0 44px 0;
}
.products-header--title {
  font-weight: 700;
  font-size: 36px;
  color: #000;
}
.products-header--searcch {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #fff;
  min-width: 306px;
  height: 34px;
  padding: 5px 12px;
  font-size: 16px;
  line-height: 150%;
}
.products-header--searcch:focus {
  outline: none;
}
.products-header--searcch::placeholder{
  color: #bfbfbf;
}
.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
}
.products-product {
  width: calc((100% - 48px) / 3);
  border-radius: 7px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  text-decoration: none;
  overflow: hidden;
}
.products-product__image {
  width: 100%;
}
.products-product__image img {
  width: 100%;
}
.products-product__description {
  padding: 21px 24px 35px 24px;
}
.products-product__description-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-product__description--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #000;
  margin: 0 0 10px 0;
}
.products-product__description--bage {
  font-size: 12px;
  line-height: 167%;
  color: #fff;
  border-radius: 2px;
  padding: 1px 8px;
  background: #262626;
}
.products-product__description-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.products-product__description--raiting {
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: #ffc107;
  margin: 0 26px 0 0;
}
.products-product__description--price {
  font-size: 18px;
  line-height: 178%;
  color: #8c8c8c;
}
.products-product__description--group {
  font-size: 18px;
  line-height: 178%;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  gap: 10px;
}
.products-product__description--group::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8c8c8c;
}
.products-product__description--name {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #000;
  margin: 0 0 10px 0;
}
.products-product__description-text {
  font-size: 18px;
  color: #8c8c8c;
  margin: 0 0 25px 0;
}
.products-product__description-controls {
  display: flex;
  align-items: center;
  gap: 29px;
}
.products-product__description-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #000;
}

.cart-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
}
.cart-modal__overlay.open {
  display: flex;
}
.cart-modal {
  border-radius: 5px;
  width: 100%;
  max-width: 780px;
  background: #fff;
  padding: 41px 45px;
}
.cart-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 45px 0;
}
.cart-modal__header--title {
  font-weight: 700;
  font-size: 36px;
  color: #000;
}
.cart-modal__header--close {
  cursor: pointer;
}
.cart-modal__body {
  margin: 0 0 50px 0;
}
.cart-modal__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.cart-modal__footer--price {
  font-weight: 700;
  font-size: 20px;
  color: #fafafa;
  padding: 15px 20px;
  border-radius: 5px;
  background: #262626;
}
.cart-modal__footer--controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
}
.cart-item__title {
  font-size: 18px;
  line-height: 178%;
  color: #000;
}
.cart-item__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}
.cart-item__controls--price {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #000;
}
.cart-item__controls--count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  line-height: 150%;
  color: #000;
}
.cart-item__controls--count button {
  border: 1px solid #1890ff;
  color: #1890ff;
}
.footer {
  min-height: 156px;
  padding: 60px 0;
}
.footer-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px; 
  flex-wrap: wrap;
}
.footer-nav {
  flex: 1 1 auto;
}
.footer-nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.footer-nav ul li {
  list-style: none;
  font-size: 18px;
  color: #595959;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
}

@media (max-width: 991px) {
  .banner-item--title {
    max-width: 100%;
  }
  .banner-item--subtitle {
    max-width: 100%;
  } 
}

@media (max-width: 768px) {
  .products-product {
    width: calc((100% - 48px) / 2);
  }
}

@media (max-width: 576px) {
  .products-product {
    width: 100%;
  }
}